<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/admin/admin.css">
</head>
<body>
    

<div class="main">
    <h1>Potter's Admin Panel</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="images/admin/add_a_cake.png"></div>
          <div class="card_content">
            <a href="/addCake" class="btn card_btn"><h2 class="card_title">Add Cake</h2></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="images/admin/cake_editor.png"></div>
          <div class="card_content">
            <a href="/addCake#editor" class="btn card_btn"><h2 class="card_title">Cake Editor</h2></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="images/admin/crm.png"></div>
          <div class="card_content">
            <a class="btn card_btn" aria-disabled="false"><h2 class="card_title">CRM (Coming soon)</h2></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
  <!-- <h3 class="made_by">Made with ♡</h3> -->

</body>
</html>